.component1-container {
  flex: 0 0 auto;
  width: 900px;
  height: 270px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}
.component1-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.component1-container2 {
  flex: 0 0 auto;
  width: 391px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component1-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.component1-text {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.component1-school-input {
  align-self: center;
}
.component1-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.component1-text1 {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.component1-duration-input {
  align-self: center;
}
.component1-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  flex-direction: column;
}
.component1-text2 {
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.component1-description-input {
  width: 400px;
  height: 80px;
  margin-left: 0px;
}
.component1-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component1-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 75px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.component1-text3 {
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.component1-company-input {
  align-self: center;
}
.component1-button {
  margin-left: 10px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
