<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <div class="component1-container2">
        <div class="component1-container3">
          <span class="component1-text"><span>Job Title: </span></span>
          <input
            type="text"
            placeholder="Software Engineer"
            class="component1-school-input input"
          />
        </div>
        <div class="component1-container4">
          <span class="component1-text1"><span>How Long: </span></span>
          <input
            type="text"
            placeholder="2 years"
            class="component1-duration-input input"
          />
        </div>
        <div class="component1-container5">
          <span class="component1-text2">
            <span>What did you worked on: </span>
          </span>
          <textarea
            placeholder="Java, Spring Boot"
            class="component1-description-input textarea"
          ></textarea>
        </div>
      </div>
      <div class="component1-container6">
        <div class="component1-container7">
          <span class="component1-text3"><span>Company: </span></span>
          <input
            type="text"
            placeholder="Google"
            class="component1-company-input input"
          />
        </div>
      </div>
      <button type="button" class="component1-button button">
        <span>Remove</span>
      </button>
    </div>
  </div>
</div>
