<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <div class="component-container1">
      <div class="component-container2">
        <div class="component-container3">
          <span class="component-text"><span>School: </span></span>
          <input
            type="text"
            placeholder="Stanford"
            class="component-school-input input"
          />
        </div>
        <div class="component-container4">
          <span class="component-text1"><span>Degree: </span></span>
          <select class="component-degree-select">
            <option value="High School" selected>High School</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Phd">Phd</option>
            <option value="Master">Master</option>
          </select>
        </div>
      </div>
      <div class="component-container5">
        <div class="component-container6">
          <span class="component-text2"><span>Major: </span></span>
          <input
            type="text"
            placeholder="Computer Science"
            class="component-major-input input"
          />
        </div>
        <div class="component-container7">
          <span class="component-text3"><span>Graduted:</span></span>
          <input
            type="checkbox"
            checked="true"
            class="component-graduated-checkbox"
          />
        </div>
      </div>
      <button type="button" class="component-button button">
        <span>Remove</span>
      </button>
    </div>
  </div>
</div>
